{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="{%  static 'login.css' %}">
  </head>
  <body>
    <div class="wrapper">
            <h2>Login in</h2>
            <form action="login" method="POST">
              {% csrf_token %} {{ufrm}}
              <input type="submit" class="btn btn-outline-success" />
            </form>
          </div>
  </body>
</html>
