{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
   
    <link rel="stylesheet" href="{%  static 'login.css' %}">
  </head>
  <body>
    
    <div class="wrapper">

              <h2>Sign in</h2>
              <form action="signin" method="POST">
                {% csrf_token %} {{ufrm}}
                <input type="submit" class="btn btn-outline-success"/>
                <p>already have an account <a href="displaylogin">Login</a></p>
              </form>
             </div>
  </body>
</html>
