body {
  margin: 0;
  padding: 0px;
  background-color: #070707;
}
.container {
  display: flex;
  flex-wrap:wrap;
  margin-top:0px;
  padding:16px; 
  font-size:15px;
  margin-bottom:4px;
  font-family: 'Times New Roman', Times, serif;
  color:aliceblue;
  background-color: black;
  border-radius: 8px;

}
.section {
  width: 300px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  background-color:rgb(198 137 137 / 32%);
}
.section:hover{
background-color:  #F44336;
color: white !important;
}
.Skills{
display: grid;
justify-content: center;
width: 50%;
background-color:rgb(198 137 137 / 32%) ;
margin: 5px;
box-shadow: 3px rgb(198 137 137 / 32%) ;
}
.Skills:hover{
background-color:  #F44336;
color: white !important;
}
h2{
font-style: italic;
font-size: x-large; 
font-weight: bolder;
color: #bc1227fc;
}
.highlight{
  align-self: flex-start;
  color: red;
}
.contact{
color:aliceblue;
padding: 15px;
} 
.sect{
display: block;
width: 100%;
margin-bottom: 20px;
text-align: left;
}
h4{
color:wheat;
}
.btn{
background-color: rgb(214, 59, 59);
outline: none;
border:none;
color: white;
}
.btn:hover{
  border-right:2px solid white;
  border-bottom: 3px solid white;
  background-color:black;
  color: white;
}
hr{
  background-color: red;
  height: 2px;
  float: inline-start;
  width: 40%;
}
input[type="range"] {
  pointer-events: none;
}
